<div class="tc w4 ph3">
  <%= link to: emotion_path(@conn, :show, @page), class: "pointer link black" do %>
    <%= emoji_img_tag(static_path(@conn, src_image(@page))) %>
    <p><%= @text %></p>
  <% end %>
</div>
