<div class="flex fixed bottom-0 h3 w-100 tc bg-white bt afc-b--pink">
  <a class="dib w-25 pointer link pt2 black" href="/">
    <p class="db mv1">Home</p>
  </a>

  <a class="dib w-25 pointer link pt2 black" href="/">
    <p class="db mv1">Toolbox</p>
  </a>

  <a class="dib w-25 pointer link pt2 black" href="/">
    <p class="db mv1">Help</p>
  </a>

  <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "dib w-25 pointer link pt2 black" %>
</div>
