<div class="flex fixed bottom-0 h3 w-100 tc bg-white bt">
  <a class="dib w-33 pointer link pt2 black" href="/">
    <p class="db mv1">Home</p>
  </a>

  <a class="dib w-33 pointer link pt2 black br bl" href="/">
    <p class="db mv1">Toolbox</p>
  </a>

  <a class="dib w-33 pointer link pt2 black" href="/">
    <p class="db mv1">Help</p>
  </a>
</div>
