<div class="mv4 flex center w5-1">
  <div class="">
    <%= emoji_img_tag(static_path(@conn, src_image(@emotion)), class: "fl w-15") %>
    <p class="mv2">That's great!</p>
    <p class="mv2">What made you <%= @emotion %> today?</p>
  </div>
</div>
