<p class="b tc f4 mb3" id="<%= @id %>">Anger</p>

<div class="toolbox-shadow">
  <%= component "toolbox_label", conn: @conn, text: "Breathe deeply", dropdown: [] %>
  <%= component "toolbox_label", conn: @conn, text: "Run your wrists under cold water", dropdown: [] %>
  <%= component "toolbox_label", conn: @conn, text: "Punch something soft like a pillow", dropdown: [] %>
  <%= component "toolbox_label", conn: @conn, text: "Speak to someone", dropdown: [] %>
</div>
