<p class="b tc f4 mb3" id="<%= @id %>">Worry</p>

<div class="toolbox-shadow">
  <%= component "toolbox_label", conn: @conn, text: "Play a game", dropdown: [] %>
  <%= component "toolbox_label", conn: @conn, text: "Run your wrists under cold water", dropdown: [] %>
  <%= component "toolbox_label", conn: @conn, text: "Speak to someone", dropdown: [] %>
  <%= component "toolbox_label", conn: @conn, text: "Breathe deeply", dropdown: [] %>
  <%= component "toolbox_label", conn: @conn, text: "Listen to your favourite relaxing music", dropdown: [] %>
</div>
