/* This file is for your main application css. */
body {
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul > li, ol > li {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.afc-bg-pink {
  background-color: #F5BABF;
}

.afc-b--pink {
  border-color: #F5BABF;
}

.afc-blue {
  color: #3B667C;
}

.afc-dark-blue {
  color: #1C3962;
}

.afc-bg-dark-blue {
  background-color: #1C3962;
}

.afc-red {
  color: #E0001D;
}

.afc-bg-red {
  background-color: #E0001D;
}

.afc-b--red {
  border-color: #DF001C;
}

.afc-bg-green {
  background-color: #8FCC8F;
}

.-mt2 {
  margin-top: -0.5rem;
}

.h-day-week-month {
  height: 3rem;
}

.mt-day-week-month {
  margin-top: 3rem;
}

.w5-1 {
  width: 18rem;
}

/* Autoform Style Start */

.form-group-checklist > .form-group {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.form-group-checklist > .form-group input[type='checkbox'] ~ label {
  cursor: pointer;
  padding-left: 0.5rem;
  vertical-align: 5px;
}

.form-group-checklist > .form-group input[type='checkbox'] {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.form-group-reason > .form-group {
  display: block;
}

.form-group-reason > .form-group input {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.form-group > button {
  content: 'Go';
  border: none;
  display: flex;
  margin: 2rem auto 0 auto;
  background-color: #8FCC8F;
  font-size: 20pt;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
}

.form-group-feeling > .form-group {
  display: block;
}

.form-group-feeling > .form-group input {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

/* Autoform Style End */

.username {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

.username:focus {
  border-color: #3B667C;
}

.pin {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

.pin:focus {
  border-color: #3B667C;
}

.w3-5 {
  width: 6rem;
}

.h3-5 {
  height: 6rem;
}

.w4-5 {
  width: 12rem;
}

.h2-5 {
  height: 3rem;
}


#emotion_info_checkbox:checked ~ #emotion_info_more {
  display: block;
}

#emotion_info_checkbox:checked ~ #emotion-info-name-div {
  background-color: pink;
}

#emotion_info_arrow {
  transform: rotate(180deg);
}

#emotion_info_checkbox:checked ~ #emotion-info-name-div > #emotion_info_arrow {
  transform: rotate(0deg);
}

.container-left {
  margin-right: -3px;
}

.container-right {
  margin-left: -3px;
}

.container-end {
  width: 22px;
}

.container-mid {
  background-color: #D6001C;
  width: 250px;
  height: 9px;
}

.toolbox-shadow {
  box-shadow: 2px 5px 20px 0 rgba(0,0,0,.1);
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
}
