/* This file is for your main application css. */

.afc-bg-pink {
  background-color: #F5BABF;
}

.afc-b--pink {
  border-color: #F5BABF;
}

.emoji-font-size {
  font-size: 64pt;
}

.-mt2 {
  margin-top: -0.5rem;
}

.h-day-week-month {
  height: 3rem;
}

.mt-day-week-month {
  margin-top: 3rem;
}

.afc-b--red {
  border-color: #DF001C;
}

.w5-1 {
  width: 18rem;
}

/* Autoform Style Start */

.form-group {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
}

.form-group input[type='checkbox'] ~ label {
  cursor: pointer;
  align-self: center;
  padding-left: 0.5rem;
}

.form-group input[type='checkbox'] {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

/* Autoform Style End */
