<div class="w-100 bg-white center pa3 mb5 f4">
  <%= render_emotion_reason(@emotion) %>

  <div class="">
    <div class="w5 center pl4">
      <%= custom_render_autoform(
        @conn,
        :create,
        [{
          @module,
          custom_labels: %{"family/home": "Family / Home", else: "Something Else"},
          input_first: Emotion.reason_list(),
          exclude: [:reason]
        }],
        assigns: [changeset: @changeset])
      %>
    </div>
  </div>
</div>
