<div class="box">
  <div class="afc-bg-dark-blue">
    <p class="b white tc pt5 pb4 f4">Helpful Advice and Information</p>
  </div>

  <div class="bg-white center pa3 pt4">
    <div class="w-70-ns center">
      <p class="pl2 pb2 lh-title mb3">Find coping strategies that work best for what you’re feeling.</p>
    </div>
  </div>
</div>
